{% extends 'CCMBundle::layout.html.twig' %}

{% block title %}
    {{ community_name }} - Home
{% endblock %}

{% block body %}
    {% if app.user %}
        <p>Welcome!</p>
        <p>User Roles:
            {% for role in app.user.roles %}
                {{ role }}
            {% endfor %}
        </p>
    {% else %}
        <p>Hello!</p>
    {% endif %}
{% endblock %}
