{% extends 'CCMBundle::layout.html.twig' %}
{% block title %}
    {{ community_name }} - User profile
{% endblock %}

{# user is passed in as param. it is not necessarily valid #}
{% block body %}
    {% if user %}
        <p>{{ user.username }}'s profile</p>
        <p>Clans:</p>
        <ul>
        {% for clan in app.user.clans %}
            <li>{{ clan }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Invalid user id specified</p>
    {% endif %}
{% endblock %}
