{% extends 'CCMBundle::layout.html.twig' %}

{% block title %}
    {{ community_name }} - Rulesets
{% endblock %}

{% block body %}
    {% for ruleset in rulesets %}
        
    {% endfor %}
{% endblock %}
