<!-- app\Resources\views\base.html.twig -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>{% block title %}{% endblock %}</title>
        
        {% block stylesheets %}
            <!-- Include bootstrap -->
            <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
        {% endblock %}

        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

        <!--<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>-->
    </head>
    
    <body>
        <div class="container">
            <!-- static navbar -->
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    {% block navheader %}
                        <a class="navbar-brand" href="#">ozfortress</a>
                    {% endblock %}
                </div>
                <div class="navbar-collapse collapse">
                    {% block nav %}
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="{{ path('CCMBundle_home') }}">Home</a>
                            </li>
                        </ul>
                    {% endblock %}
                </div>
            </div>
            <div class="jumbotron">
                {% block body %}{% endblock %}
            </div>
            <div class="footer">
                {% block footer %}{% endblock %}
            </div>
        </div> <!-- end container -->

        {% block javascripts %}
            {# NOTE: While we get jQuery through composer, and compile it with assetic, we use the 
                     Google CDN because clients can keep it cached from other websites. 
                     Bootstrap, however, is a compilation of all the bootstrap JS libs
                     so we leave that to assetic to compile into a single file for us.

                     Always load JS at the end of the page to decrease page load times.
            #}

            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            <script src="{{ asset('js/bootstrap.js') }}"></script>
        {% endblock %}
    </body>
</html>
 
