{% extends 'CCMBundle::layout.html.twig' %}
{% block title %}
    {{ community_name }} - Clan list
{% endblock %}

{% block body %}
    {% for clan in clans %}
        <p>Clan: <a href="{{ path('CCMBundle_clan_profile', { 'clanid': clan.id })}}">{{ clan.name }}</a> ({{ clan.id }})</p>
    {% endfor %}
{% endblock %}
