{% extends 'CCMBundle::layout.html.twig' %}

{% block title %}
    {{ community_name }} - Clan created
{% endblock %}

{% block body %}
    <p>Success!</p>
    <p>{{ message }}</p>
    <p><a href="{{ path('CCMBundle_clan_management_spec', { "clan": id }) }}">Click here to manage your clan</a></p>
{% endblock %}
