{% extends 'CCMBundle::layout.html.twig' %}

{% block title %}
    {{ community_name }} - Create clan
{% endblock %}

{% block body %}
    {% if invalid is defined %}
        <div><p>Could not create clan:</p>
            <ul>
            {% for item in invalid %}
                <li>{{ item }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}

    {{ form_start(form, { 'style': 'horizontal' }) }}
        {{ form_row(form.name) }}
        {{ form_row(form.tag) }}
        {{ form_row(form.prefix) }}
        {{ form_row(form.suffix) }}
        {{ form_row(form.create) }}
    {{ form_end(form) }}
{% endblock %}
