{% extends 'CCMBundle::layout.html.twig' %}

{# 
    params: 'error' and 'clan'

    if it is not null, clan is a Clan object,
    clan is only null when error is not null
    i.e, if we have a clan, there is no error
         if we don't have a clan, there is an error
#}

{% block title %}
    {{ community_name }} - Manage clan
{% endblock %}

{% block body %}
    {% if clan %}
        <p>Managing {{ clan.name }}</p>
        <p>Members:</p>
        <ul>
        {% for member in clan.members %}
            <li>
                {{ member }} {% if member in clan.leaders %}(Leader){% endif %}
                {% if member != app.user.id %}
                    {# 
                        if the member isn't a leader and the manager is the owner, give 
                        a promote button
                    #}
                    {% if member not in clan.leaders and app.user.id == clan.owner %}
                    <button type="button" class="btn btn-success">Promote</button>
                    {% endif %}
                    {#
                        give a demote button too if the user is in leaders
                    #}
                    {% if member in clan.leaders and app.user.id == clan.owner %}
                    <button type="button" class="btn btn-primary">Demote</button>
                    {% endif %}
                    {# 
                        can only kick if the member is 
                        a) not the owner
                        and c) of lesser rank (i.e clan leaders can only be kicked by owner)
                    #}
                    {% if member != clan.owner or (member in clan.leaders and app.user.id == clan.owner) %}
                    &nbsp;<button type="button" class="btn btn-warning">Kick</button>
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
        </ul>
        <p>Leagues:</p>

        <button type="button" class="btn btn-danger">Disband</button>
    {% else %}
        <p>{{ error }}</p>
    {% endif %}
{% endblock %}
