{% extends 'CCMBundle::layout.html.twig' %}

{% block title %}
    {{ community_name }} - Manage clans
{% endblock %}

{% block body %}
    {# clans is an array of Clan objects #}
    {% if clans %}
        <p>Clans available for managing:</p>
        <ul>
        {% for clan in clans %}
            <li>
                <a href="{{ path('CCMBundle_clan_management_spec', { "clan": clan.id }) }}">{{ clan.name }}</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>You are not the leader or owner of any clans</p>
    {% endif %}
{% endblock %}
