{% extends 'CCMBundle::layout.html.twig' %}
{% block title %}
    {{ community_name }} - {{ clan.name }} clan profile
{% endblock %}

{% block body %}
    {% if clan is defined %}
        <p>Name: {{ clan.name }}</p>
        <p>Tag: {{ clan.tag }}</p>
        <p>Members:</p> 
        <ul>
        {% for member in clan.members %}
            <li>{{ member }} {% if member in clan.leaders %}(Leader){% endif %}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Invalid clan ID specified, or clan does not exist</p>
    {% endif %}
{% endblock %}
