{% extends 'CCMBundle::layout.html.twig' %}

{% block title %}
    {{ community_name }} - Error
{% endblock %}

{% block body %}
    <p>An error has occurred!</p>
    <p>{{ error }}</p>
{% endblock %}
