{% extends 'CCMBundle::layout.html.twig' %}

{% block title %}
    {{ community_name }} - Create league
{% endblock %}

{% block body %}
    {% if invalid is defined %}
        <div><p>Could not create clan:</p>
            <ul>
            {% for item in invalid %}
                <li>{{ item }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div>
        {{ form_start(form, { 'style': 'horizontal' }) }}
            {{ form_row(form.name) }}
            <hr>
            {{ form_row(form.ruleset) }}
            <hr>
            {{ form_row(form.divisions) }}
            <hr>
            {{ form_row(form.admins) }}
            <hr>
            {{ form_row(form.create) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
