{% extends 'CCMBundle::layout.html.twig' %}

{% block title %}
    {{ community_name }} - Leagues
{% endblock %}

{% block body %}
    {% for league in leagues %}
        
    {% endfor %}
{% endblock %}
