{# CCM\Bundle\Resources\views\base.html.twig #}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>{% block title %}{% endblock %}</title>
        
        {% block stylesheets %}
            <!-- Include bootstrap -->
            <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
        {% endblock %}

        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

        <!--<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>-->
    </head>
    
    <body>
        <div class="container">
            <!-- static navbar -->
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    {% block navheader %}
                        <a class="navbar-brand" href="#">{{ community_name }}</a>
                    {% endblock %}
                </div>
                <div class="navbar-collapse collapse">
                    {% block nav %}
                    {% endblock %}
                    {% if app.user and app.user.granted('ROLE_USER') %}
                        <p class="navbar-text navbar-right">
                            Logged in as <a href="{{ path('CCMBundle_account_profile') }}">{{ app.user.nickname }}</a> 
                            (<a href="{{ path('fp_openid_logout') }}">Logout</a>)
                        </p>
                    {% else %}
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="{{ path('CCMBundle_login') }}">
                                    <img src="http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_small.png">
                                </a>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="jumbotron">
                {% block body %}{% endblock %}
            </div>
            <div class="footer">
                {% block footer %}{% endblock %}
            </div>
        </div> <!-- end container -->

        {% block javascripts %}
            {# NOTE: While we get jQuery through composer, and compile it with assetic, we use the 
                     Google CDN because clients can keep it cached from other websites. 
                     Bootstrap, however, is a compilation of all the bootstrap JS libs
                     so we leave that to assetic to compile into a single file for us.

                     Always load JS at the end of the page to decrease page load times.
            #}

            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            <script src="{{ asset('js/bootstrap.js') }}"></script>
        {% endblock %}
    </body>
</html>
 
