{% extends 'CCMBundle::nav.html.twig' %}

{% block stylesheets %}
    {# super this block, so we have the bases' stylesheet block too #}
    {{ parent() }}

    {# 
      now we include our custom css after bootstrap, so we can override
      some of the classes. compiles multiple files into 1 with yui
    #}

    {% stylesheets '@CCMBundle/Resources/public/css/*' 
                    output='css/ccm.css'
                    filter='?uglifycss'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" media="screen">
    {% endstylesheets %}
{% endblock %}
