{% extends 'CCMBundle::base.html.twig' %}

{% block nav %}
    <ul class="nav navbar-nav">
        <li>
            <a href="{{ path('CCMBundle_home') }}">Home</a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Clans <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ path('CCMBundle_clans') }}">List</a>
                </li>
                {% if app.user and app.user.granted('ROLE_USER') %}
                <li>
                    <a href="{{ path('CCMBundle_clan_create') }}">Create</a>
                </li>
                {% endif %}
                {% if app.user and app.user.granted('ROLE_CLAN_LEADER') %}
                <li>
                    <a href="{{ path('CCMBundle_clan_management') }}">Manage</a>
                </li>
                {% endif %}
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Leagues <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ path('CCMBundle_league_listing') }}">List</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="{{ path('CCMBundle_league_create') }}">Create</a>
                </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="{{ path('CCMBundle_league_manage_list') }}">Manage</a>
                </li>
                {% endif %}
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Rulesets <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ path('CCMBundle_ruleset_listing') }}">List</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="{{ path('CCMBundle_ruleset_create') }}">Create</a>
                </li>
                {% endif %}
            </ul>
        </li>
    </ul>
{% endblock %}
